* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 1.2rem;
}
.pt-sans-regular {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.pt-sans-bold {
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.pt-sans-regular-italic {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.pt-sans-bold-italic {
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-style: italic;
}

p {
	line-height: 30px;
}
#hero-section p {
	font-weight: 700;
	color: #445869;
}
#benefits-section p{
	font-weight: 700;
	color: #445869;
}

/* UTILITIES */
.flex {
	display: flex;
}
.between {
	justify-content: space-between;
}

.center {
	justify-content: center;
}

.bg-arrow {
	justify-content: center;
	background-color: rgb(150 147 229);
	margin-bottom: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	align-items: center;
}
.text-planing {
	margin: 20px;
}

.arrow {
	align-items: center;
}

.text-center {
	text-align: center;
}

.column {
	flex-direction: column;
}

.w-30 {
	width: 30%;
}

ul {
	list-style-type: none;
}
a {
	color: inherit;
	text-decoration: none;
}
.m-auto{
	margin-left: auto;
	margin-right: auto;
	
}
.d-block{
	display: block;
}

.bg-white {
	background-color: white;
}

.text-white{
	color: white;
}
.bg-purple {
	background-color: rgb(150 147 229);
}
.purple {
	color: rgb(150 147 229);
}
.title {
	color: white;
	margin-top: 80px;
}
.blue {
	color: rgb(0 132 253);
}
section {
	padding: 40px 0;
}
section h1 {
	font-size: 2rem;
}
.p-30{
	padding: 30px;
}

/* /UTILITIES */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 9999;
}
main {
	margin-top: 80px;
}
img {
	max-width: 100%;
}

.py {
	padding: 20px 0px;
}

.my{
	margin-top: 20px;
	margin-bottom: 20px;
}
.my-2{
	margin-top: 40px;
	margin-bottom: 40px;
}

.rounded-img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover; /*non stretcha l'immagine*/
}
/* HEADER */
.head-container {
	height: 80px;
	width: 100%;
	background-color: rgb(0 132 253);
	align-items: center;
	padding: 40px;
}
.list {
	display: none;
}
.list :last-of-type {
	background-color: white;
	color: black;
	border-radius: 20px;
	padding: 5px;
}
.hamburger-menu {
	background-color: rgb(0 132 253);
	margin-right: 10px;
	color: white;
}
.btn-apple {
	margin-top: 50px;
	color: white;
	background-color: rgb(0 132 253);
	border-radius: 18px;
	padding: 10px;
}

.cont-col {
	text-align: center;
	padding: 30px;
}

.img {
	position: relative;
	top: 17px;
}

.mb-50 {
	margin-bottom: 50px;
}

.size-number{
	font-size: 60px;
}



/* /HEADER */

/* MAIN */
/* PRIMO BLOCCO */
.row {
	flex-wrap: wrap;
	display: flex;
}
.col {
	width: 100%;
	/* min-height: 300px; TO REMOVE */
	border-radius: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 30px;
}

#hero-section .col {
	background-color: rgb(181 221 255);
}

#testimonials-section .bg-purple h3{
	letter-spacing: 4px;
}
[class*=fa-quote]{ /*seleziona tutte le classi che contengono la "SOTTOSTRINGA" fa-quote es.(fa-quote-right)*/
	font-size: 1.2em; 
}
.btn-benefits{
	padding: 7px 45px;
	border-radius: 25px;
}
.rouded-quote{
	position: relative;
	width: 50%;

}
.quote{
	position: absolute;
	top: 0;
	left: 150px;
	font-size: 60px;
}
.title-cta{
	color: #fdc15f;
	font-size: 80px;
}

footer {
	background-color: rgb(51 51 51);
}
/* /QUARTO BLOCCO */

/* /MAIN */
/* *****************************************************
MEDIA QUERY
********************************************************/
/* TABLET */
@media screen and (min-width: 768px) {
	.col-66 {
		width: calc((100% / 3) * 2 - 30px);
	}
	.col-33 {
		width: calc(100% / 3 - 30px);
	}
	.col-66,
	.col-33,
	.col-50 {
		margin-left: 15px;
		margin-right: 15px;
	}

	.btn-apple {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.col-50 {
		width: calc(100% / 2 - 30px);
	}
	.cont-col {
		position: relative;
	}
	img {
		max-width: 200%;
	}

	.img {
		position: relative;
		top: 17px;
		width: 50%;
	}
	
}
/* DEKSTOP */
@media screen and (min-width: 992px) {
	.col-50-xl {
		width: calc(100% / 2 - 30px);
	}

	.col-33-xl {
		width: calc(100% / 3 - 30px);
	}

	.col-50-xl,
	.col-33-xl {
		margin-left: 15px;
		margin-right: 15px;
	}

	.hamburger-menu {
		display: none;
	}

	.list,
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}
}
